@{
    ViewData["Title"] = "Home Page";
}
<div class="card w3-padding justify-content-center align-items-center row col-lg-12 mt-5">
    <form asp-action="index" class="p-4">

        <input type="text" name="PersonId" class="form-control mb-3" placeholder="PersonId">
        <input type="text" name="FullName" class="form-control mb-3" placeholder="Fullname">
        <input type="text" name="Address" class="form-control mb-3" placeholder="Address">
        <input type="submit" value="Gửi" class="btn btn-success text-center">
    </form>
</div>
<h1>@ViewBag.Input</h1>
